<div class="col-lg-4 col-sm-6">
  <a href="{{currentProjects[0].url}}" class="portfolio-box">
    <img src="{{currentProjects[0].image}}" class="img-responsive" alt="{{currentProjects[0].title}}">
    {{currentProjects[0].title}} - {{currentProjects[0].description}}
  </a>
  <a href="{{currentProjects[1].url}}" class="portfolio-box">
    <img src="{{currentProjects[1].image}}" class="img-responsive" alt="{{currentProjects[1].title}}">
    {{currentProjects[1].title}} - {{currentProjects[1].description}}
  </a>
  <a href="{{currentProjects[2].url}}" class="portfolio-box">
    <img src="{{currentProjects[2].image}}" class="img-responsive" alt="{{currentProjects[2].title}}">
    {{currentProjects[2].title}} - {{currentProjects[2].description}}
  </a>
</div>

